<nav><%= link_to 'Show Item', @todo_item %> | <%= link_to 'Back to List', todo_items_path %></nav>

<% @editing = true %>

<%= render 'form' %>

<nav><%= link_to 'Show Item', @todo_item %> | <%= link_to 'Back to List', todo_items_path %></nav>


