<nav>
  Order By:<br><a href="/todo_items/">Color</a> | <a href="/todo_items/sort/due">Due Date</a> | <a href="/todo_items/sort/assigned">Assigned Date</a> | <a href="/todo_items/sort/owner">Owner</a> | <a href="/todo_items/sort/completed">Completion</a>
</nav>

<div id="todo_container">
  <table id="todo_list">
    <thead>
      <tr>
        <th class="due">Due</th>
        <th class="owner">Owner</th>
        <th class="description">Description</th>
        <th class="actions last_cell">Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr class="filler"><td></td><td></td><td></td><td class="last_cell"></td></tr>
      <% @todo_items.each do |todo_item| %>
        <tr style="<%= "background-color:#{convert_hex_to_rgba(todo_item.color)}" if todo_item.uses_color %> <%= "color: white;" if todo_item.uses_color && is_color_dark?(todo_item.color) %>">

          <td class="first_cell<%= " bold" if todo_item.completed %>">
            <%= "COMPLETED<br><span class=\"small\">Due ".html_safe if todo_item.completed %> 
            <%= get_friendly_date_string(todo_item.due) %>
            <%= "</span>".html_safe if todo_item.completed %>
          </td>

          <td><%= todo_item.owner %></td>

          <td>
            <%= "<span class='completed'>".html_safe if todo_item.completed =%>
              <%= todo_item.description %><br>
            <%= "</span>".html_safe if todo_item.completed =%>

            Assigned <%= get_friendly_date_string(todo_item.assigned) %></span>
          </td>

          <td class="last_cell">
            <div class="command">
              <%= link_to 'View', todo_item %>
              <% complete_action = todo_item.completed ? "Uncomplete" : "Complete" %>
              <%= link_to(complete_action, complete_url(todo_item)) %>
            </div>
            <div class="command">
              <%= link_to 'Edit', edit_todo_item_path(todo_item) %>
              <%= link_to 'Delete', todo_item, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>

          </td>

        </tr>
        <tr class="filler"><td></td><td></td><td></td><td class="last_cell"></td></tr>
      <% end %>
        <tr class="filler_bottom"><td></td><td></td><td><div class="command"><%= link_to 'Create a New Item', new_todo_item_path %></div></td><td class="last_cell"></td></tr>
    </tbody>
  </table>
</div>
<br>
